.inline-btn {
    display: inline-block !important;
    width: auto !important;
    float: right !important;
    margin: -4px 0 0 4px !important;
}

#game_edit_buttons {
    display: none;
}

#game_edit_buttons button {
    margin-top: 10px;
}

#map_editor_tiles {
    min-height: 10px;
    width: calc(100% - 255px);
    height: calc(100vh - 50px);
    overflow-x: auto;
    overflow-y: auto;
    display: inline-block;
    vertical-align: top;
}

#map_editor_tools {
    /*width: 250px;
    display: inline-block;
    height: calc(100vh - 50px);
    overflow-x: auto;
    overflow-y: auto;
    margin-right: -10px;*/
}

#sprite_sheet_tabs .hx-tab {
    font-size: 9px;
}

.btn-sm {
    font-size: 11px;
    padding: 3px;
}

.content {
    margin: 0;
    padding: 0;
}

.sprite_selector {
    position: relative;
    overflow: auto;
}

.sprite_selector_tiles {
    position: absolute;
    top: 0;
    left: 0;
}

.sprite_sheet_tile_selector {
    /*display: inline-block;*/
    float: left;
    font-size: 0px;
}

.sprite_sheet_tile_selector:hover {
    background-color: rgba(128, 255, 128, 0.5);
}

.sprite_sheet_content label {
    font-size: 10px;
}

.sprite_sheet_content input {
    font-size: 10px;
    width: 50px;
}

.map_tile {
    background-color: black;
    float: left;
}

.map_tile:hover {
    background-color: rgba(128, 255, 128, 0.5);
}

.side_toolbar {
    width: 250px;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    top: 50px;
    right: 0px;
    bottom: 0px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.side_toolbar .sidebar_handle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 6px;
    height: 100%;
    background-color: #666666;
    cursor: ew-resize;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.side_toolbar .sidebar_content {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 6px;
    height: 100%;
    /*background-color: blue;*/
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 0px;
    background: rgba(64,64,64,1);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(48,48,48,1);
}

#sprite_sheet_grid {
    padding: 8px;
    position: absolute;
    top: 8px;
}

#animation_selections {
    padding: 8px;
    position: absolute;;
    top: 8px;
}

.grid_cell {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px dashed black;
}

#particle_system_editor_container input {
    width: 50px;
    min-width: 50px;
}

#particle_system_editor_container .hx-section {
    display: inline-block;
}

#particle_system_editor_container .hx-section:first-child {
    width: 656px;
}

#particle_system_editor_container .hx-section:last-child {
    width: 300px;
}

.sprite_animation_selector:hover {
    background-color: #666666;
    cursor: pointer;
}

.hx-tree {
    background: none !important;
}

.hx-tree-node-parent {
    background: none !important;
}

.hx-tree-node-parent .hx-tree-node-parent-icon {
    background: none !important;
}

.hx-tree-node-children {
    border-left-color: none !important;
}
