.inline-btn {
    display: inline-block !important;
    width: auto !important;
    float: right !important;
    margin: -4px 0 0 4px !important;
}

#game_edit_buttons {
    display: none;
}

#game_edit_buttons button {
    margin-top: 10px;
}

#map_editor_tiles {
    min-height: 10px;
    width: calc(100% - 285px);
    display: inline-block;
    vertical-align: top;
}

#map_editor_tools {
    width: 250px;
    display: inline-block;
}

#sprite_sheet_tabs .hx-tab {
    font-size: 9px;
}

.btn-sm {
    font-size: 11px;
    padding: 3px;
}
