@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('VT323-Regular.ttf');
}

html {
    font-family: monospace;
    background-color: #666;
    padding: 0;
    margin: 0;
}

body {
    font-family: monospace;
    background-color: #666;
    padding: 0;
    margin: 0;
}

canvas {
    padding: 0;
    margin: 0;
}

.title {
    /*background-color: black;*/
    color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

.title ul {
    list-style: none;
}

.title .link {
    //
}

.modal {
    background-color: black;
    color: white;
    position: fixed;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    border: 2px solid #AAAAAA;
    border-radius: 6px;
    padding: 8px;
}

.player_inventory_summary label {
    display: inline-block;
    width: 120px;
}

.player_stats label {
    display: inline-block;
    width: 120px;
}

.player_stat_down_button {
    color: white;
}

.player_stat_up_button {
    color: white;
}
